// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif:'Noto Sans Kufi Arabic', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;



$primary:#5718c4 ;
$btn-border-radius: 0 ;
$card-border-width: 0 ;
$card-border-radius: 0 ;
